---
layout: base
---

<!-- <img src="{{ projectImgSrc2 }}" alt="{{ projectImgageAltText1 }}" class="img-fluid" /> -->

<main class="about" id="main">
  <div class="about-hero">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-10 offset-1 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h2 class="h2 text-uppercase mb-0">
                <img src="/images/svg/icon-isral-white.svg" alt="" aria-hidden="true">
                About
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="gradient-line"></div>
    <div class="row">
      <div class="col-10 offset-1 col-lg-5">
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
      <div class="col-10 offset-1 col-lg-4">
        <div class="row">
          <div class="col-12 mb-4">
            <a data-fslightbox href="/images/photos/isral-work-4.jpg">
              <img src="/images/photos/isral-work-4.jpg" width="100%" alt="isral Duke sitting in front of a computer. He is also using his ipad to analyze how web sites will work for tablet users." class="img-fluid rounded">
            </a>
          </div>
          <div class="col-12 mb-4">
            <a data-fslightbox href="/images/photos/isral-work-2.jpg">
              <img src="/images/photos/isral-work-2.jpg" width="100%" alt="isral Duke sitting in front of a computer. He is editing photos of small electronic components." class="img-fluid rounded">
            </a>
          </div>
          <div class="col-12 mb-4">
            <a data-fslightbox href="/images/photos/isral-legos.jpg">
              <img src="/images/photos/isral-legos.jpg" width="100%" alt="isral Duke leaning over a pile of Legos. He has a large smile and an excited facial expression." class="img-fluid rounded">
            </a>
          </div>
          <div class="col-12 mb-4">
            <a data-fslightbox href="/images/photos/isral-work-3.jpg">
              <img src="/images/photos/isral-work-3.jpg" width="100%" alt="isral Duke working on a quick sketch for a furniture project using a Wacom Cintiq." class="img-fluid rounded">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
