---
layout: base
---


  <div class="container">
    <div class="row ">
      <div class="col-12">
        <h2 class="h2" id="pageName">About</h2>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-12">
      {{ content | safe }}
    </div>
    <div class="col-md-3 mb-4">
      <img src="/images/photos/isral-work-4.jpg" alt="isral Duke sitting in front of a computer. He is also using his ipad to analyze how web sites will work for tablet users." class="img-fluid rounded">
    </div>
    <div class="col-md-3 mb-4">
        <img src="/images/photos/isral-work-2.jpg" alt="isral Duke sitting in front of a computer. He is editing photos of small electronic components." class="img-fluid rounded">
    </div>
    <div class="col-md-3 mb-4">
        <img src="/images/photos/isral-legos.jpg" alt="isral Duke leaning over a pile of Legos. He has a large smile and an excited facial expression." class="img-fluid rounded">
    </div>
    <div class="col-md-3 mb-4">
        <img src="/images/photos/isral-work-3.jpg" alt="isral Duke working on a quick sketch for a furniture project using a Wacom Cintiq." class="img-fluid rounded">
    </div>
  </div>
</div>


