<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109520377-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-109520377-1');
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css" rel="stylesheet">
	<title>{{ title }}isral Duke, Designer </title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#E00034">
	<!-- SEO -->
	<meta name="description" content="{{ projectLeadSentence }}">
	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://isralduke.com{{ page.url }}">
	<meta property="og:title" content="isral Duke | Designer {{ title }}">
	<meta property="og:description" content="{{ projectLeadSentence }}">
	<meta property="og:image" content="{{ socialImage }}">
</head>
<body class="{{ bodyclass }}">
	<header>
		<a href="#main" id="skip-link">Skip to Main Content</a>
		<h1 class="visually-hidden">isral Duke, Designer {{ title }}</h1>
		{% include 'nav.njk' %}
	</header>
	{{ content | safe }}
	{% include 'contact-block.njk' %}
	<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
	<script src="{{ '/js/fslightbox.js' | url }}"></script>
</body>
</html>