<div class="py-8 position-relative bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <h2 class="h2">Conclusion</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 {% if conclusionImgs %}col-lg-5{% endif %}">
                <p class="mb-0">{{ conclusion }}</p>
            </div>
            {% if conclusionImgs %}
            <div class="col-10 offset-1 col-lg-5">
                <div class="row">
                {% for item in conclusionImgs %}
                <div class="col-md-6">
                    <img src="{{ item.url }}" alt="{{ item.alt }}" class="img-fluid">
                </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>