<div class="py-8 position-relative bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <h2 class="h2">Conclusion</h2>
                <p class="mb-0">{{ conclusion }}</p>
            </div>
        </div>
    </div>
</div>