<footer class="footer block contact-block" role="region" id="contact" aria-labelledby="contactme">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <form action="https://formcarry.com/s/BkM1yJ45f" method="POST" accept-charset="UTF-8" >
    <div class="container">
      <div class="gradient-line"></div>
      <div class="row justify-content-center">
        <div class="col-7 col-lg-6">
          <h2 class="h2 text-uppercase" id="contactme">
            <img src="/images/svg/icon-contact.svg" alt="" aria-hidden="true">
            Contact
          </h2>
        </div>
        <div class="col-3 col-lg-4">
          <div class="h2 d-flex">
            <a class="btn btn-light ms-auto me-2" href="https://twitter.com/isralduke">
              <span class="icon fab fa-fw fa-twitter" aria-hidden="true"></span>
              <span class="visually-hidden">Twitter</span>
            </a>
            <a class="btn btn-light" href="https://www.linkedin.com/in/isralduke/">
              <span class="icon fab fa-fw fa-linkedin-in" aria-hidden="true"></span>
              <span class="visually-hidden">LinkedIn</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1 col-lg-4">
          <p><span class="fw-bold">Tell me, what’s on your mind?</span></p>
          <p class="">Want to talk about a project? Want to hire me for a project? You can send me a message for whatever is on your mind — unless you’re trying to spam me.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-lg-5">
          <div class="mb-3 form-group">
            <label for="name" class="form-label">What’s your <span class="fw-bold">name</span>?</label>
            <input type="text" class="form-control" id="name" name="name">
            <span class="fas fa-user" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-10 col-lg-5">
          <div class="mb-3 form-group">
            <label for="email" class="form-label">What’s your email <span class="fw-bold">address</span>?</label>
            <input type="email" class="form-control" id="email" name="email">
            <span class="fas fa-envelope" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 ">
          <div class="mb-3 form-group">
            <label for="message" class="form-label">What’s on your <span class="fw-bold">mind</span>?</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            <span class="fas fa-comment-dots" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 mb-4">
          <div class="g-recaptcha" data-sitekey="6Ld6HR4TAAAAAHIRqYbz_xMLN3LUiQtZE1hbfJVM"></div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <button type="submit" class="btn btn-light">
            Send message  &rarr;
          </button>
        </div>
      </div>
    </div>
  </form>
</footer>
