 <!-- <p class="visually-hidden">Isral Duke can do the following types of design:</p>
          <ul class="">
            <li>
              <span aria-hidden="true">IxD</span>  
              <span class="visually-hidden">Interaction design</span>
            </li>
            <li>
              <span aria-hidden="true">UI</span>  
              <span class="visually-hidden">User interface design</span>
            </li>
            <li>
              <span aria-hidden="true">UX</span>  
              <span class="visually-hidden">User experience design</span>
            </li>
            <li>
              <span aria-hidden="true">Graphic</span>  
              <span class="visually-hidden">Graphic design</span>
            </li>
          </ul> -->