  <div class="py-8">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 col-lg-5">
                <h2 class="h2">Digital Wireframes</h2>
                <p class="">{{ wireframeText }}</p>
            </div>
            {% if wireframes.length == 1 %}
            <div class="col-10 offset-1 col-lg-5 offset-lg-0">
              {% for item in wireframes %}
              <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Usability result {{ loop.index }} of {{ loop.length }} for {{ title }}." class="img-fluid rounded shadow-sm">
              {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if wireframes.length == 2 %}
        <div class="row justify-content-center">
          {% for item in wireframes %}
          <div class="col-10 {% if wireframes.length == 2 %} col-lg-5 {% endif %}">
            <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Usability result {{ loop.index }} of {{ loop.length }} for {{ title }}." class="img-fluid rounded shadow-sm">
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>
  