<nav aria-labelledby="secondNav" class="">
	<p id="secondNav" hidden>Secondary</p>
	<p id="footernavlist" hidden>Secondary Nav Links</p>
	<ul aria-labelledby="footernavlist" class="">
		<li class="">
			<a class="" href="/">Home</a>
		</li>
		<li class="">
			<a class="" href="/product-design">Product Design</a>
		</li>
		<li class="">
			<a class="" href="/talks">Talks</a>
		</li>
		<li class="">
			<a class="" href="/resume">Resume</a>
		</li>
		<li class="">
			<a class="" href="/sitemap">Sitemap</a>
		</li>
		<li class="">
			<a class="" href="https://linkedin.com/in/isralduke">LinkedIn</a>
		</li>
	</ul>
</nav> 
