<nav aria-labelledby="secondNav" class="footer py-4 bg-azure-dark text-white">
    <p id="secondNav" class="visually-hidden">Secondary</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <p id="footernavlist" class="visually-hidden">Secondary Nav Links</p>
                <ul aria-labelledby="footernavlist" class="list-unstyled list-inline d-flex flex-wrap justify-content-center mb-0">
                    <li class="list-inline-item mx-4">
                        <a class="text-white" href="/">Home</a>
                    </li>
                    <li class="list-inline-item mx-4">
                        <a class="text-white" href="/product-design">Product Design</a>
                    </li>
                    <li class="list-inline-item mx-4">
                        <a class="text-white" href="/talks">Talks</a>
                    </li>
                    <li class="list-inline-item mx-4">
                        <a class="text-white" href="/resume">Resume</a>
                    </li>
                    {# <li class="list-inline-item mx-4">
                        <a class="text-white" href="/visual-design">Visual Design</a>
                    </li> #}
                    {# <li class="list-inline-item mx-4">
                        <a class="text-white" href="/about">About</a>
                    </li> #}
                    {# <li class="list-inline-item mx-4">
                        <a class="text-white" href="/resources">Resources</a>
                    </li> #}
                    <li class="list-inline-item mx-4">
                        <a class="text-white" href="/sitemap">Sitemap</a>
                    </li>
                    <li class="list-inline-item mx-4">
                        <a class="text-white" href="https://linkedin.com/in/isralduke">LinkedIn</a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</nav> 
