<div class="py-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="h2">Project Goal</h2>
                <p class="mb-0">{{ goal }}</p>
            </div>
        </div>
    </div>
</div>