<header class=" {{ heroBgColor }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 position-relative">
                <div class="position-absolute card page-title-card {{ cardBgColor }} ">
                    <div class="card-body">
                        <h1 class="h1 mb-4 text-white">{{ title }}</h1>
                        {% if topText %}
                        <p class="mb-0 text-white">{{ topText }}</p>
                        {% endif %}
                        {% if sentence %}
                        <p class="mb-0 text-white">{{ sentence }}</p>
                        {% endif %}
                        {% if excerpt %}
                        <p class="mb-0 text-white">{{ excerpt }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative">
        {% if featureSm %}
        <img src="{{ featureSm }}" alt="{{ featureAlt }}" class="w-100 d-lg-none">
        {% endif %}
        <img src="{{ feature }}"   alt="{{ featureAlt }}" class="w-100 {% if featureSm %} d-none {% endif %} d-lg-block">
        {% if overlayBgColor %}
        <div class="position-absolute w-100 h-100 top-0 left-0 bg-gray-neutral mix-blend-mode-saturation z-index-100"></div>
        <div class="position-absolute w-100 h-100 top-0 left-0 {{ overlayBgColor }} mix-blend-mode-multiply z-index-200"></div>
        {% endif %}
    </div>
</header>
