<main class="hero-home-block d-flex" id="main">
  <img class="visually-hidden" src="../images/photos/isral-sketch-observe.jpg" alt="isral Duke holding a skecthbook facing towards a light source." width="100%">
  <div class="container-fluid mt-auto mx-0 mb-4 mb-lg-auto">
    <div class="row">
      <div class="col-10 offset-1 col-md-5 offset-md-6 col-lg-3 offset-lg-8">
        <div class="card card-body border-0 rounded-0">
          <h2 class="h1 mb-0 text-uppercase">Designer</h2>
          <p class="visually-hidden">Isral Duke can do the following types of design:</p>
          <ul class="">
            <li>
              <span aria-hidden="true">IxD</span>  
              <span class="visually-hidden">Interaction design</span>
            </li>
            <li>
              <span aria-hidden="true">UI</span>  
              <span class="visually-hidden">User interface design</span>
            </li>
            <li>
              <span aria-hidden="true">UX</span>  
              <span class="visually-hidden">User experience design</span>
            </li>
            <li>
              <span aria-hidden="true">Graphic</span>  
              <span class="visually-hidden">Graphic design</span>
            </li>
          </ul>
          <p class="opacity-85 mb-0">Your products will be easy to use because I design them that way.</p>
        </div>
      </div>
    </div>
  </div>
</main>
