<div class="hero-home-block d-flex" id="">
  <img class="visually-hidden" src="../images/photos/isral-sketch-observe.jpg" alt="isral Duke holding a skecthbook facing towards a light source." width="100%">
  <div class="container-fluid mt-auto mx-0 mb-4 mb-lg-auto">
    <div class="row">
      <div class="col-10 offset-1 col-md-5 offset-md-6 col-lg-3 offset-lg-8">
        <div class="card card-body border-0 rounded-0">
          <h2 class="h1 mb-0 text-uppercase">Designer</h2>
          <p class="mb-0">I design inclusive and easy to use products.</p>
        </div>
      </div>
    </div>
  </div>
</div>
