<h2 class="h2 text-white mb-4">Pages in this site</h2>


<a href="/" >Home</a>
<a href="/resume" >Resume</a>
<a href="/sitemap" >Sitemap</a>
<a href="/product-design" >Product Design</a>


{% for item in collections.productDesign %}
<img src="/images/projects/{{ item.data.title | slugify }}/feature.png" alt="Preview image for {{ item.data.title }}." class="img-fluid rounded">
<h2 id="{{ item.data.title | slugify }}" >{{ item.data.title }}</h2>
<a href="{{ item.url }}" class="stretched-link">{{ item.data.title }}</a>
{% endfor %}
