<nav aria-labelledby="mainNav" class="nav-main">
	<span id="mainNav" hidden>Primary</span>
	<a aria-labelledby="sitePerson"  href="/">
		<span id="sitePerson" hidden>Isral Duke, Designer, Home</span>
		<span aria-hidden="true">{% include 'svg/isral-duke-designer-logo.svg' %}</span>
	</a>
	<button>
		{% include 'svg/closed.svg' %}
	</button>
	<ul>
		<li>
			<a href="/product-design">Product Design</a>
		</li>
		<li>
			<a href="/talks">Talks</a>
		</li>
		<li>
			<a href="/resume">Resume</a>
		</li>
		<li>
			<a href="https://linkedin.com/in/isralduke">
				LinkedIn
			</a>
		</li>
		<li>
			<a href="https://twitter.com/isralduke">
				Twitter
			</a>
		</li>
	</ul>
</nav>
