<nav aria-labelledby="mainNav" class="nav-main">
	<span id="mainNav" hidden>Primary</span>
	<a aria-labelledby="sitePerson"  href="/">
		<span id="sitePerson" hidden>Isral Duke, Designer, Home</span>
		<span aria-hidden="true">{% include 'svg/isral-duke-designer-logo.svg' %}</span>
	</a>
	<button type="button" id="navMainListsToggler" class="">
		{% include 'svg/closed.svg' %}
		<span class="visually-hidden">Toggle navigation</span>
	</button>
	<div id="navMainLists" class="nav-main-lists hidden">
		<ul class="nav-main-list primary" role="list">
			<li role="listitem">
				<a href="/product-design">Product Design</a>
			</li>
			<li role="listitem">
				<a href="#talks">Talks</a>
			</li>
			<li role="listitem">
				<a href="#skills">Skills</a>
			</li>
			<li role="listitem">
				<a href="#certifications">Certifications</a>
			</li>
		</ul>
		<ul class="nav-main-list secondary" role="list">
			<li role="listitem">
				<a href="https://linkedin.com/in/isralduke">
					{% include 'svg/icon-social-linkedin.svg' %}
					<span class="visually-hidden">LinkedIn</span>
				</a>
			</li>
			<li role="listitem">
				<a href="https://www.youtube.com/isralduke">
					{% include 'svg/icon-social-youtube.svg' %}
					<span class="visually-hidden">YouTube</span>
				</a>
			</li>
			<li role="listitem">
				<a href="https://codepen.io/isralduke">
					{% include 'svg/icon-social-codepen.svg' %}
					<span class="visually-hidden">Codepen</span>
				</a>
			</li>
			<li role="listitem">
				<a href="https://github.com/isralduke">
					{% include 'svg/icon-social-github.svg' %}
					<span class="visually-hidden">Github</span>
				</a>
			</li>
		</ul>
	</div>
	
</nav>
