---
layout: base
---

<img src="{{ feature }}" alt="{{ featureAlt }}">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="h1" id="pageName">{{ title }}</h1>
    </div>
  </div>
  {% if photos %}
    <div class="row">
    {% for photo in photos %}
    <div class="col-12 col-md-3">
      <img alt="{{ photo.alt }}" class="img-fluid" src="{{ photo.weburl }}">
    </div>
    {% endfor %}
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      {{ content | safe }}
    </div>
  </div>
</div>
