<div class="row justify-content-center">
{% for item in personas %}
  <div class="col-12 {% if personas.length > 1%} col-md-6 {% endif %}">
    <a data-fslightbox href="/images/projects/{{ title | slugify }}/{{ item }}">
      <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="{{ loop.index }} of {{ personas.length }} created for {{ title }}." class="img-fluid">
    </a>
  </div>
{% endfor %}
</div>
