<section aria-labelledby="{{ item.data.title | slugify }}" class="py-5">
    <div class="container">
      <h3 id="{{ item.data.title | slugify }}" class="visually-hidden">{{ item.data.title }}</h3>
        <div class="row justify-content-center align-items-center">
          <div class="col-8 col-lg-4 order-md-1">
            <div class="card border-0 bg-gray-600">
              <div class="card-body">
                <p class="h5 mb-3 position-relative">
                  {{ item.data.title }}
                  <span class="icon position-absolute bi bi-arrow-right-short" aria-hidden="true"></span>
                </p>
                <div class="d-flex">
                  <div class="flex-fill">
                    <p class="stats-label text-uppercase">Platform</p>
                    <p class="stats-value mb-0">{{ item.data.platform }}</p>
                  </div>
                  <div class="flex-fill">
                    <p class="stats-label text-uppercase">Type</p>
                    <p class="stats-value mb-0">{{ item.data.type }}</p>
                  </div>
                  <div class="flex-fill">
                    <p class="stats-label text-uppercase">Status</p>
                    <p class="stats-value mb-0">{{ item.data.status }}</p>
                  </div>
                </div>
                <a href="{{ item.url }}" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8 order-md-0">
            <a href="{{ item.url }}">
              <img src="/images/projects/{{ item.data.title | slugify }}/feature.png" alt="Preview of {{ item.data.title }}." class="img-fluid">
            </a>
          </div>
        </div>
    </div>
  </section>
