<section>
  <h2 class="visually-hidden">Product Design</h2>
  {% for item in collections.productDesign %}
  <div class="container">
    <h3 class="visually-hidden">{{ item.data.title }}</h3>
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-8">
        <a href="{{ item.url }}">
          <img src="/images/projects/{{ item.data.title | slugify }}/feature.png" alt="Preview image for {{ title }}." class="img-fluid rounded">
        </a>
      </div>
      <div class="col-10 ofset-1 col-md-6 offset-md-0 col-lg-4">
        <div class="card">
          <div class="card-body pb-0">
            <p class="h5">{{ item.data.title }}</p>
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item d-flex ps-0">
                <span class="w-50">Type</span>
                <span class="w-50">{{ item.data.type }}</span>
              </li>
              <li class="list-group-item d-flex ps-0">
                <span class="w-50">Platform</span>
                <span class="w-50">{{ item.data.platform }}</span>
              </li>
              <li class="list-group-item d-flex ps-0">
                <span class="w-50">Status</span>
                <span class="w-50">{{ item.data.status }}</span>
              </li>
            </ul>
            <a href="{{ item.url }}" class="stretched-link">
              <span class="visually-hidden">{{ item.data.title }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>