---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="h1" id="pageName">{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="lead">{{ excerpt }}</p>
    </div>
  </div>
  <div class="row">
    {# feature image, should only be 1 item #}
    <div class="col-12">
      <img src="/images/projects/{{ title | slugify }}/feature.jpg" alt="{{ featureAlt }}" class="img-fluid">
    </div>
  </div>
  <div class="row">
    {# mockups #}
    {% for item in mockups %}
    <div class="col-6">
      <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Mockup {{ loop.index }} of {{ mockups.length }} for {{ title }}." class="img-fluid">
    </div>
    {% endfor %}
  </div>
  {# only for interactive projects #}
  {% if tags == 'productDesign' %}
  <div class="row">
    <div class="col-12">
      {# try it link #}
      <a href="{{ tryitLink }}" class="btn btn-primary">Try It</a>
    </div>
  </div>
  {# Projct Info #}
  <div class="row">
    <div class="col-12">
      <h2>Project Info</h2>
      <ul>
        <li>Platform: {{ platform }}</li>
        <li>Type: {{ type }}</li>
        <li>Status: {{ status}}</li>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      {{ content | safe }}
    </div>
  </div>
  {% if tags == 'productDesign' %}
  <div class="row">
    <div class="col-12">
      <h3>Design Review</h3>
      <a href="{{ designFile }}" class="btn btn-primary">Review the design file</a>
      <img src="/images/projects/{{ title | slugify }}/design-file-preview.jpg" alt="A view of the screens which comprise the {{ title }}." class="img-fluid">
    </div>
  </div>
  {% endif %}
</div>
