<div class="py-8">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 col-lg-4">
                <h2 class="h2">Research</h2>
                <p class="mb-0">{{ research }}</p>
            </div>
            <div class="col-10 offset-1 col-lg-4 offset-lg-2">
                <h2 class="h2">Key Challenges</h2>
                <p class="mb-0">{{ keyChallenges }}</p>
            </div>
        </div>
    </div>
</div>