<section class="block projects-block" aria-labelledby="projects">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1">
          <h2 class="h2 text-uppercase" id="projects">
            <img src="/images/svg/icon-projects.svg" alt="" aria-hidden="true">
            Selected Projects
          </h2>
        </div>
      </div>
    </div>
    {% for project in collections.projects | limit(3) %}
    <div class="project-item" role="region" aria-labelledby="{{ project.data.projectName | slugify }}">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="{{ project.url }}" class="thumbnail-link text-decoration-none text-white">
              <div class="row align-items-center">
                <div class="col-12 col-md-5 offset-md-1">
                  <img src="{{ project.data.projectImgSrc1}}" class="img-fluid rounded mb-4 mb-md-0" alt="">
                </div>
                <div class="col-10 offset-1 col-md-4">
                  <h3 class="h2 text-center text-md-start" id="{{ project.data.projectName | slugify }}">{{ project.data.projectName }}</h3>
                  <p class="text-center text-md-start mb-0" aria-hidden="true">{{project.data.projectPlatform}} | {{project.data.projectType}} | {{project.data.projectStatus}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>  
      </div>
    </div>
    {% endfor %}
  </section>