<div class="row justify-content-center">
{% for item in sketches %}
  <div class="{% if sketches.length == 1%} col-12 {% endif %} {% if sketches.length == 2 %} col-md-6 {% endif %} {% if sketches.length == 3 %} col-md-4 {% endif %} {% if sketches.length == 4%} col-md-3 {% endif %}">
    <a data-fslightbox href="/images/projects/{{ title | slugify }}/{{ item }}">
      <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Original hand sketches for {{ title }}." class="img-fluid">
    </a>
  </div>
{% endfor %}
</div>
