<aside aria-labelledby="skills" class="skills">
  <div class="container">
    <div class="row mb-7">
      <div class="col-12">
        <h2 class="h2 text-center" id="skills">Skill Sets</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h3 class="h3 d-flex align-items-center">
          {% include 'svg/icon-ux.svg' %}
          UX
        </h3>
        <p class="">UX Design is learning about users and designing for their diverse needs while respecting the organization’s goals.</p>
        <p id="uxskills" class="visually-hidden">UX Skills</p>
        <ul aria-labelledby="uxskills" class="list-group">
          <li class="list-group-item">User Research</li>
          <li class="list-group-item">Information Architecture</li>
          <li class="list-group-item">Accessible Content</li>
          <li class="list-group-item">Public Speaking</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3 class="h3 d-flex align-items-center">
          {% include 'svg/icon-design.svg' %}
          Design
        </h3>
        <p class="">Design means creating an interface or process around the users’ and business tasks and desired outcomes.</p>
        <p id="designskills" class="visually-hidden">Design Skills</p>
        <ul aria-labelledby="designskills" class="list-group">
          <li class="list-group-item">Inclusive Design</li>
          <li class="list-group-item">Design Systems</li>
          <li class="list-group-item">Product Design</li>
          <li class="list-group-item">Graphic Design</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3 class="h3 d-flex align-items-center">
          {% include 'svg/icon-code.svg' %}
          Technical
        </h3>
        <p class="">Technology is how products are built, I can talk feasibility. It’s important for accessibility and project timelines.</p>
        <p id="techskills" class="visually-hidden">Tech Skills</p>
        <ul aria-labelledby="techskills" class="list-group">
          <li class="list-group-item">Accessible Markup</li>
          <li class="list-group-item">HTML, SCSS, CSS</li>
          <li class="list-group-item">Bootstrap</li>
          <li class="list-group-item">GitHub</li>
        </ul>
      </div>
    </div>
  </div>
</aside>
