<aside aria-labelledby="skills" class="bg-blue-stripes pt-7 pb-9 text-white">
	<div class="container">
		<div class="row mb-7">
			<div class="col-12">
				<h2 class="h2 text-center" id="skills">Skill Sets</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			{% for item in skills %}
			<div class="col-10 col-lg-4">
				<div class="p-4">
					<h3 id="{{ item.title | slugify }}" class="h3 d-flex align-items-center">{{ item.title }}</h3>
					<p>{{ item.description }}</p>
					<ul aria-labelledby="{{ item.title | slugify }}" class="list-group">
						{% for listItem in item.listItems %}
						<li class="list-group-item bg-transparent text-white">{{ listItem }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</aside>
