<aside aria-labelledby="skills" class="border border-top py-5 py-">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h2" id="skills">Skill Sets</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="h3">UX</h3>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <p class="">UX Design is learning about users and designing for their needs while considering business goals.</p>
      </div>
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-12 col-md-6 col-lg-7">
        <ul class="columns-md-2">
          <li class="">User Research</li>
          <li class="">Accessible Content</li>
          <li class="">Public Speaking</li>
          <li class="">Information Architecture</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="h3">Design</h3>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <p class="">Interaction Design is creating an interface or process around the users’ challenges and goals.</p>
      </div>
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-12 col-md-6 col-lg-7">
        <ul class="columns-md-2">
          <li class="">Inclusive Design</li>
          <li class="">Design Systems</li>
          <li class="">Product Design</li>
          <li class="">Graphic Design</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="h3">Technical Skills</h3>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <p class="">Technology is how users’ solutions are built. Feasibility is important when considering timelines and accessibility.</p>
      </div>
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-12 col-md-6 col-lg-7">
        <ul class="columns-md-2">
          <li class="">Accessible Markup</li>
          <li class="">HTML, SCSS, CSS</li>
          <li class="">Bootstrap</li>
          <li class="">GitHub</li>
        </ul>
      </div>
    </div>
  </div>
</aside>
