{% for item in talks %}
<h2>{{ item.title }}</h2>
<p>{{ item.description }}</p>
<a href="{{ item.deck }}" >Get deck for {{ item.title }}</a>
<iframe src='https://www.youtube.com/embed/{{ item.embed }}' frameborder='0' title="{{ item.data.title }}" allowfullscreen></iframe>		
{% endfor %}