<a href="<!-- $figma-prototype-link? -->" class="btn btn-black btn-lg" target="_blank">
  <span class="visually-hidden">Try {{ projectName }} yourself</span>
  <span aria-hidden="true">Try it yourself</span>
  <span class="fas fa-angle-double-right" aria-hidden="true"></span>
</a>
