<div class="block tryit-block pb-0">
  <div class="container-fluid">
    <div class="gradient-line"></div>
    <div class="row">
      <div class="col-10 offset-1">
        <h2 class="h2 text-uppercasemb-5">Review It</h2>
        <a href="{{ projectDesignFile }}" class="btn btn-light" target="_blank">
          Access {{ projectName }} in Figma
          <span class="fas fa-angle-double-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <a href="{{ projectDesignFile }}" class="project-prototype" target="_blank">
          <img src="{{ projectImgSrc4 }}" alt="{{ projectImageAlt4 }}" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</div>
