<div class="py-8">
  <div class="container">
      <div class="row">
          <div class="col-10 offset-1 col-lg-4">
              <h2 class="h2">Usability Testing</h2>
              <p class="">{{ usabilityText }}</p>
          </div>
          {% if usabilities.length == 1 %}
          <div class="col-10 offset-1 col-lg-5">
            {% for item in usabilities %}
            <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Usability result {{ loop.index }} of {{ loop.length }} for {{ title }}." class="img-fluid rounded shadow-sm">
            {% endfor %}
          </div>
          {% endif %}
      </div>
      {% if usabilities.length == 2 %}
      <div class="row justify-content-center">
        {% for item in usabilities %}
        <div class="col-10 {% if usabilities.length == 2 %} col-lg-5 {% endif %}">
          <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Usability result {{ loop.index }} of {{ loop.length }} for {{ title }}." class="img-fluid rounded shadow-sm">
        </div>
        {% endfor %}
      </div>
      {% endif %}
  </div>
</div>
