<div class="py-8">
  <div class="container">
      <div class="row">
          <div class="col-10 offset-1 col-lg-4">
              <h2 class="h2">Usability Testing</h2>
              <p class="mb-0">{{ usabilityText }}</p>
          </div>
          <div class="col-10 offset-1 col-lg-5">
            <div class="row g-2">
              {% for item in usabilities %}
              <div class="col-12">
                <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Usability result {{ loop.index }} of {{ loop.length }} for {{ title }}." class="img-fluid rounded shadow-sm">
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
  </div>
</div>
