<div class="row justify-content-center">
{% for item in wireframes %}
  <div class="col-12 {% if wireframes.length > 1%} col-md-6 {% endif %}">
    <a data-fslightbox href="/images/projects/{{ title | slugify }}/{{ item }}">
      <img src="/images/projects/{{ title | slugify }}/{{ item }}" alt="Digital wireframes for {{ title }}." class="img-fluid">
    </a>
  </div>
{% endfor %}
</div>
