body {
  @extend .pt-7;
  &.home {
    @extend .pt-0;
  }
}
.main-nav {
  @extend .position-fixed;
  @extend .w-100;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .text-white;
  @extend .text-decoration-none;
  top: 0; left: 0;
  z-index: 100;
  ul {
    @extend .list-unstyled;
    @extend .list-inline;
    @extend .m-0;
    @extend .ms-auto;
    @extend .d-flex;
    
  }
  li {
    @extend .m-0;
    color: inherit;
    a {
      @extend .d-block;
      @extend .py-2;
      @extend .px-2;
      background-color: fade-out($black, .5);
      color: inherit;
      text-decoration: inherit;
      &:hover, &:active {
        @extend .bg-white;
        @extend .text-black;
      }
    }
    &:first-of-type {
      a {
        border-top-left-radius   : .25rem;
        border-bottom-left-radius: .25rem;
      }
    }
    &:last-of-type {
      a {
        border-top-right-radius   : .25rem;
        border-bottom-right-radius: .25rem;
      }
    }
  }
}
.list-style-none, .list-group {
  li {
    &::before {
      content: '\200b';
    }
  }
}
h3 {
  font-weight: 400;
}
.skills {
  @extend .py-7;
  @extend .text-white;
  background-color: #00212F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23002839' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23002e42' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2300354c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23003b55' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2300425F' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  h3 {
    svg {
      @extend .me-1;
      path {
        fill: $white;
      }
    }
  }
  .list-group-item {
    @extend .bg-danger;
    @extend .text-white;
  }
}
.hero {
  @extend .position-relative;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
  max-height: 75vh;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    max-height: unset;
  }
}
.hero-img {
  @extend .w-100;
}
.hero-img-sm {
  @extend .d-lg-none;
}
.hero-img-lg {
  @extend .d-none;
  @extend .d-lg-block;
}
.overlay {
  @extend .position-absolute;
  @extend .w-100;
  @extend .h-100;
  top: 0; left: 0;
}
.overlay-gray {
  background-color: #808080;
  mix-blend-mode: saturation;
}
.overlay-azure {
  background-color: $azure;
  mix-blend-mode: multiply;
}
.overlay-content {
  @extend .position-absolute;
  @extend .w-100;
  @extend .h-100;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
  @extend .justify-content-lg-center;
  @extend .mb-9;
  @extend .mb-lg-0;
}
.footer {
  @extend .py-4;
  @extend .text-white;
  @extend .text-decoration-none;
  background-color: $azure-dark;
  li {
    @extend .mx-4;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
}