.bg-azure {
  background-color: $azure;
}
.bg-azure-dark {
  background-color: $azure-dark;
}
.bg-gray-neutral {
  background-color: #808080;
}
.bg-gray-100 {
  background-color: $gray-100;
}
.bg-gray-200 {
  background-color: $gray-200;
}
.bg-gray-600 {
  background-color: $gray-600;
}
.bg-gray-700 {
  background-color: $gray-700;
}
.bg-gray-800 {
  background-color: $gray-800;
}
.bg-gray-900 {
  background-color: $gray-900;
}
.mix-blend-mode-saturation {
  mix-blend-mode: saturation;
}
.mix-blend-mode-multiply {
  mix-blend-mode: multiply;
}
.z-index-100 {
  z-index: 100;
}
.z-index-200 {
  z-index: 200;
}
.z-index-300 {
  z-index: 300;
}
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; height: 100%; 
}


/*
.main-nav {
  top: 0; left: 0;
  z-index: 100;
  li {
    color: inherit;
    a {
      background-color: fade-out($black, .5);
      color: inherit;
      text-decoration: inherit;
      &:hover, &:active {
        @extend .bg-white;
        @extend .text-black;
      }
    }
    &:first-of-type {
      a {
        border-top-left-radius   : .25rem;
        border-bottom-left-radius: .25rem;
      }
    }
    &:last-of-type {
      a {
        border-top-right-radius   : .25rem;
        border-bottom-right-radius: .25rem;
      }
    }
  }
}
.list-style-none, .list-group {
  li {
    &::before {
      content: '\200b';
    }
  }
}
h3 {
  font-weight: 400;
}
.skills {
  background-color: #00212F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23002839' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23002e42' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2300354c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23003b55' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2300425F' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  h3 {
    svg {
      @extend .me-1;
      path {
        fill: $white;
      }
    }
  }
}
.hero {
  max-height: 75vh;
  @include media-breakpoint-up(lg) {
    max-height: unset;
  }
}
.overlay-gray {
  background-color: #808080;
  mix-blend-mode: saturation;
}
.overlay-color {
  mix-blend-mode: multiply;
}
.card-project {
  .icon {
    right: -.25rem; top: 0px;
  }
}
.stats-label {
  font-size: .75rem;
  margin-bottom: -.25rem; 
}
.stats-value {
  font-size: 1rem;
}
*/
