$azure: #007DB3;
$azure-dark: #001B26;
$violet: #952D98;
$scarlet: #E00034;
$link-color: #3366cc;
$danger: $scarlet;

$font-family-sans-serif:      ratio, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

