<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if tags != 'home'  %}{{ title }}, {% endif %} isral Duke, Product Designer </title>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#E00034">
	<!-- SEO -->
	<meta name="description" content="{{ excerpt }}">
	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://isralduke.com{{ page.url }}">
	<meta property="og:title" content="{% if tags != 'home'  %}{{ title }} | {% endif %} isral Duke, Designer Who Codes">
	<meta property="og:description" content="{{ excerpt }}">
	<meta property="og:image" content="https://isralduke.com{{ feature }}">
	<!-- <link rel="stylesheet" href="https://use.typekit.net/uay6gsf.css"> -->
	<!-- CSS only -->
	<link rel="stylesheet" href="{{ '/styles/style.css' | url }}">
</head>
<body>
	<a href="#main" class="skip">
		Skip to Main Content
	</a>	
	{% include 'nav.njk' %}
	<main id="main">
		{{ content | safe }}
		{% include 'talks-block.njk' %}
		{% include 'skills-block.njk' %}
		{% include 'certifications-block.njk' %}
		{% set buttonText = 'Review Resume' %}
		{% set buttonClass = 'button-chunky' %}
		{% set buttonLink = '/resume' %}
		{% include 'button-chunky.njk' %}
	</main>
	{% include 'footer.njk' %}
	<script src="/js/scripts.js"></script>
	<script src="/js/fslightbox.js"></script>
</body>
</html>
