---
layout: base.njk
bodyClass: home
---

<h1>{{ title }}</h1>



<h2>Selected Projects</h2>
<ul>
{% for item in collections.productDesign | limit(5) %}
	<li><a href="{{item.url}}">{{ item.data.title }}</a></li>
{% endfor %}
</ul>



<h2>Talks</h2>
<ul >
{% for item in talks %}
	<li>{{ item.title }}</li>
{% endfor %}
</ul>



<h2>Skills</h2>
{% for item in skills %}
<h3 id="{{ item.title | slugify }}" >{{ item.title }}</h3>
<p>{{ item.description }}</p>
<ul aria-labelledby="{{ item.title | slugify }}" >
	{% for listItem in item.listItems %}
	<li >{{ listItem }}</li>
	{% endfor %}
</ul>
{% endfor %}



<h2>Certifications</h2>
<ul>
{% for item in certifications %}
	<li>{{ item.title }}</li>
{% endfor %}
</ul>

