---
layout: base.njk
---

<header>
	<div>
		<h1>designer</h1>
		<p>{{ excerpt }}</p>
	</div>
</header>

<div class="gallery-grid mb-default">
	{% for item in collections.productDesign | limit(4) %}
		<section aria-labelledby="{{ item.data.title | slugify }}" class="gallery-grid-item project-card">
			<h2 id="product-design" class="visually-hidden">{{ item.data.title }}</h2>
			<a href="{{ item.url }}" class="thumbnail thumbnail-block">
				<span>{{ item.data.title }}</span>
				<img src="/images/projects/{{ item.data.title | slugify }}/feature.png" alt="" class="img-fluid">
			</a>
		</section>
	{% endfor %}
</div>

{% set buttonText = 'Review More Projects' %}
{% set buttonClass = 'button-chunky' %}
{% set buttonLink = '/product-design' %}
{% include 'button-chunky.njk' %}
