---
layout   : base.njk
bodyClass: project
---

<div class="hero">
	<h1>{{ title }}</h1>
</div>

<div class="feature">
	<img src="/images/projects/{{ title | slugify }}/feature.png" alt="">
</div>

<div class="col-1 col-2 col-3">
	<div class="content">
		{{ content | safe }}
	</div>
</div>

test
