---
layout: base.njk
---


<div class="content">
	<h1>{{ title }}</h1>
	<p class="mb-0">{{ excerpt }}</p>
</div>
<a href="/images/projects/{{ title | slugify }}/feature.png" data-fslightbox>
	<img src="/images/projects/{{ title | slugify }}/feature.png" alt="{{ featureAlt }}">
</a>




<div class="content mockups">
		<div class="thumbnails">
			{% for item in mockups %}
			<a href="/images/projects/{{ title | slugify }}/mockup-{{ loop.index }}.png" data-fslightbox class="thumbnail">
				<img src="/images/projects/{{ title | slugify }}/mockup-{{ loop.index }}.png" alt="{{ item }}">
			</a>
			{% endfor %}
		</div>
</div>




<div class="content">
	{% set buttonText = 'Try It Out' %}
	{% set buttonClass = 'button-chunky' %}
	{% set buttonLink =  tryitLink  %}
	{% include 'button-chunky.njk' %}

	{% set buttonText = 'Review Design in Figma' %}
	{% set buttonClass = 'button-soft' %}
	{% set buttonLink = designFile %}
	{% include 'button-chunky.njk' %}
</div>




<div class="content project grid">
	{% for section in sections %}
	<h2 id="{{ section.name | slugify }}">{{ section.name }}</h2>
	<div class="grid-item">
		<p>{{ section.content | safe }}</p>
			{% if section.imageAlts | length %}
			<div class="thumbnails">
				{% for item in section.imageAlts %}
					<a href="/images/projects/{{ title | slugify }}/{{ section.name | slugify }}-{{ loop.index }}.jpg" data-fslightbox class="thumbnail" >
						<img src="/images/projects/{{ title | slugify }}/{{ section.name | slugify }}-{{ loop.index }}.jpg" alt="{{ item }}">
					</a>
				{% endfor %}
			</div>
			{% endif %}	
	</div>
	{% endfor %}
</div>




{% set buttonText = 'Review More Projects' %}
{% set buttonClass = 'button-chunky' %}
{% set buttonLink = '/product-design' %}
{% include 'button-chunky.njk' %}
