---
layout    : base
heroClass : hero-project
---

<h1  id="pageName">{{ title }}</h1>
<p >{{ excerpt }}</p>


<a href="/images/projects/{{ title | slugify }}/feature.png" >
	<img src="/images/projects/{{ title | slugify }}/feature.png" alt="{{ featureAlt }}" >
</a>


{% for item in mockups %}
<a data-fslightbox href="/images/projects/{{ title | slugify }}/mockup-{{ loop.index }}.png" >
	<img src="/images/projects/{{ title | slugify }}/mockup-{{ loop.index }}.png" alt="{{ item }}" >
</a>
{% endfor %}


<h2 >Project Stats</h2>
<ul >
	{% for item in stats %}
	<li >
		<span >{{ item.label }}</span>
		<span >{{ item.value }}</span>
	</li>
	{% endfor %}
</ul>


<h2 >Project Roles</h2>
<ul >
	{% for item in roles %}
	<li >{{ item }}</li>
	{% endfor %}
</ul>


<h2>Inspect It Yourself</h2>
{% if tryitLink %}					
<a href="{{ tryitLink }}" >Try {{ title }}</a>
{% endif %}

{% if designFile %}
<a href="{{ designFile }}" >
	Design File for {{ title }}
</a>
{% endif %}

		
{{ content | safe }}
