.hero, .feature {
	@extend .col-1;
	@extend .col-2;
	@extend .col-3;
}
.content {
	padding: 0 $content-padding $content-padding*4;
}
.content {
	h2 {
		font-weight: 700;
	}
	p {
		margin-bottom: $base-padding;
	}
	p:has(img) {
		@extend .grid;
		margin: 0 $base-padding*2*-1 $content-padding;
		align-items: center;
		@media screen and (min-width: $width-lg){
			grid-template-columns: repeat(2, 1fr);
		}
	}

}