.page-banner {
	background-color: khaki;
	height: var(--page-header-nav-height);
	position: relative;

	@media screen and (min-width: 1024px){
		position: fixed;
		top: 0; left: 0;
		width: var(--page-banner-width); height: 100%;
		z-index: 1;
	}
}


.page-nav {
	position: fixed;
	height: var(--page-header-nav-height);
	bottom: 0; left: 0;
	width: 100%;
	background-color: bisque;

	@media screen and (min-width: 1024px){
		position: relative;
	}
}
