:root {
	--id-width-md: 768px;
	--id-width-lg: 1200px;
}

@import 'reset';
@import 'typography';

html, body {
	padding: 0;
	background-color: var(--id-background-color-root);
}
body {
	padding: 0 var(iid-padding-default);
}

footer {
	background-color: var(--id-background-color-nav);
	padding: calc(var(--id-padding-default) * 2);
}
