---
title: 
layout: base.njk
bodyclass: home
projectLeadSentence: Isral Duke is a Google, Adobe, and W3C certified UX Designer. He has a decade of experience doing User Experience, User Interface, and Interaction Design in software.
socialImage: https://isralduke.com/images/photos/isral-sketch-observe.jpg
---
{% include 'home-hero-block.njk' %}
{% include 'certifications-block.njk' %}
{% include 'skills-block.njk' %}
