---
title: Marketing Asset Design
layout: base
excerpt:
---

<main aria-labelledby="pageName">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h2" id="pageName">Marketing Asset Design</h2>
      </div>
    </div>
  </div>
  <div class="container">
    {% for item in collections.marketingAssets %}
    <div class="row">
      <div class="col-12 col-md-6">
        <h3 class="h3">{{ item.data.title }}</h3>
        <p>{{ item.data.excerpt }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
