---
title: Product Design
layout: base
excerpt   : Selected product design samples.
feature   : /images/photos/isral-talk-google-devfest.jpg
featureAlt: Isral Duke fgiving a talk about screen reader experience at a local university.
---

<h1 class="" id="pageName">{{ title }}</h1>
<p class="">{{ excerpt }}</p>


{% for item in collections.productDesign %}
{% include 'project-card.njk' %}
{% endfor %}
