---
title: Product Design
layout: base.njk
excerpt: Selected product design samples.
---

<div class="content">
	<h1>{{ title }}</h1>
	<p class="mb-0">{{ excerpt }}</p>
</div>

{% for item in collections.productDesign %}
<section aria-labelledby="{{ item.data.title | slugify }}" class="project-card">
	<h2 id="{{ item.data.title | slugify }}" class="visually-hidden">{{ item.data.title }}</h2>
	<a href="{{ item.url }}" class="thumbnail thumbnail-block">
		<span>{{ item.data.title }}</span>
		<img src="/images/projects/{{ item.data.title | slugify }}/feature.png" alt="" class="img-fluid">
	</a>
</section>
{% endfor %}
