---
title: 'Projects | '
layout: base
bodyclass: projects
socialImage: https://isralduke.com/images/photos/isral-crop-1024.jpg
projectLeadSentence: isral Duke designs inclusive and easy to use projects.
---

<main class="block projects-block" aria-labelledby="projects">
  <div class="container">
    <div class="row mb-5">
      <div class="col-10 offset-1">
        <h2 class="h2 text-uppercase" id="projects">
          <img src="/images/svg/icon-projects.svg" alt="" aria-hidden="true">
          Projects
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-5">
      {% for project in collections.projects %}
      <div class="col-lg-6">
        <a href="{{ project.url }}" class="thumbnail-link text-decoration-none text-white d-flex flex-column">
          <h3 class="fw-bold text-center order-1" id="{{ project.data.projectName | slugify }}">{{ project.data.projectName }}</h3>
          <img src="{{ project.data.projectImgSrc1}}" class="img-fluid rounded mb-3 order-0" alt="Preview of {{ project.data.projectsName }}.">
          <p class="text-center mb-0 order-2 opacity-50" aria-hidden="true">{{project.data.projectPlatform}} &emsp;|&emsp; {{project.data.projectType}} &emsp;|&emsp; {{project.data.projectStatus}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
