---
title: Projects
layout: base
excerpt: isral Duke designs inclusive and easy to use digital projects.
---

<main class="" aria-labelledby="pageName">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h2" id="pageName">Projects</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-5">
      {% for item in collections.interactive %}
      <div class="col-md-6">
        <a href="{{ item.url }}" class="d-flex flex-column">
          <h3 class="h5 order-1" id="{{ item.data.title | slugify }}">{{ item.data.title }}</h3>
          <img src="/images/projects/{{ item.data.title | slugify }}/feature.jpg" class="img-fluid rounded mb-3 order-0" alt="Preview of {{ item.data.title }}.">
          <p class="order-2" aria-hidden="true">{{ item.data.platform }} &emsp;|&emsp; {{item.data.type}} &emsp;|&emsp; {{ item.data.status }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
