---
title: Resources
layout: base
excerpt:
---

  <div class="container">
    <div class="row g-3">
      {% for item in collections.resources | reverse  %}
      <div class="col-md-6 col-lg-4">
        <section aria-labelledby="{{ item.data.title | slugify }}" class="card">
          <div class="card-body">
            <h2 id="{{ item.data.title | slugify }}" class="h6">{{ item.data.title }}</h2>
            <p>{{ item.data.summary }}</p>
            <a href="{{ item.data.weburl }}" class="btn btn-link">{{ item.data.source }}</a>
          </div>
        </section>
      </div>
      {% endfor %}
    </div>
  </div>

