---
title          : Resume
layout         : base
excerpt        : Resume for Isral Duke, inclusive products and experiences designer. Objectives, experience, skills, and other credentials.
featureSm      : /images/photos/isral-duke-credentials-tall.jpg
feature        : /images/photos/isral-duke-credentials.jpg
featureAlt     : Isral Duke giving a presentation about VoiceOver at a local chapter of Google Dev Fest.
---

<h1 class="" id="pageName">{{ title }}</h1>
<p class="">{{ excerpt }}</p>


<h2 class="">Objective</h2>
<p class="">I want to design inclusive experiences which everyone can enjoy and benefit from.</p>
<p>My journey to making digital experiences which are usable by all began by teaching users and clients how to use experiences I helped produce. I noticed that some interface patterns were more quickly understood than others. I also learned that some people face barriers which I can’t imagine. The more I examined this, I learned that accessibility is vital to people who face barriers I can’t imagine.</p>


<h2 class="">Skills</h2>
{% for item in skills %}
	<h3 class="h6">{{ item.title }}</h3>
	<ul>
		{% for listItem in item.listItems %}
		<li>{{ listItem }}</li>
		{% endfor %}
	</ul>
{% endfor %}


<h2 class="">Talks</h2>
<ul>
	{% for item in talks %}
	<li><a href="{{ item.link }}">{{ item.title }}</a></li>
	{% endfor %}
</ul>


<h2 class="h2">Published Apps</h2>
<ul>
	{% for item in apps %}
	<li><a href="{{ item.link }}">{{ item.title }}</a>, {{ item.description }}</li>
	{% endfor %}
</ul>


<h2 class="">Certifications</h2>
<ul>
	{% for item in certifications %}
	<li><a href="{{ item.link }}">{{ item.title }}</a>, {{ item.description }}</li>
	{% endfor %}
</ul>


<h2 class="">Education</h2>
<ul>
	{% for item in educations %}
	<li>{{ item.title }}, {{ item.school }}, {{ item.year }}</li>
	{% endfor %}
</ul>

<h2 class="h2">References</h2>
<ul>
	{% for item in references %}
	<li><a href="{{ item.link }}">{{ item.title }}</a>, {{ item.description }}</li>
	{% endfor %}
</ul>


<h2 class="">Experience</h2>
{% for item in experiences %}
<h3 id="{{ item.company | slugify }}" class="">{{ item.role }}</h2>
<p class="">
	{% if item.link %}
	<a href="{{ item.link }}">{{ item.company }}</a>
	{% else %}
	{{ item.company }} <em>(now defunct)</em>
	{% endif %}
</p>
<details>
	<summary>
		Read {{ item.role }} accomplishments
	</summary>
	<ul aria-labelledby="{{ item.company | slugify }}">
		{% for listItem in item.listItems %}
		<li>{{ listItem }}</li>
		{% endfor %}
	</ul>
</details>
{% endfor %}



