---
title          : Resume
layout         : base
excerpt        : Resume for Isral Duke, inclusive products and experiences designer. Objectives, experience, skills, and other credentials.
featureSm      : /images/photos/isral-duke-credentials-tall.jpg
feature        : /images/photos/isral-duke-credentials.jpg
featureAlt     : Isral Duke giving a presentation about VoiceOver at a local chapter of Google Dev Fest.
heroBgColor    : bg-black
heroTextColor  : text-white
cardBgColor    : bg-danger
overlayBgColor : bg-azure
---
{% include 'hero.njk' %}
<main id="main" class="bg-gray-200" aria-labelledby="pageName">
    <section class="py-8 project-block">
        <div class="container">
            <div class="row justify-content-center">
                {# objective #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2 mt-7">Objective</h2>
                    <p class="fw-bold">I want to design inclusive experiences which everyone can enjoy and benefit from.</p>
                    <p>My journey to making digital experiences which are usable by all began by teaching users and clients how to use experiences I helped produce. I noticed that some interface patterns were more quickly understood than others. I also learned that some people face barriers which I can’t imagine. The more I examined this, I learned that accessibility is vital to people who face barriers I can’t imagine.</p>
                </div>
                <hr class="mt-4 mb-5">
                {# skills #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2">Skills</h2>
                    <div class="row">
                        {% for item in skills %}
                        <div class="col-12 col-md-4">
                            <h3 class="h6">{{ item.title }}</h3>
                            <ul>
                                {% for listItem in item.listItems %}
                                <li>{{ listItem }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr class="mt-4 mb-5">
                {# talks #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2">Talks</h2>
                    <ul>
                        {% for item in talks %}
                        <li><a href="{{ item.video }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="mt-4 mb-5">
                {# published apps #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2">Published Apps</h2>
                    <ul>
                        {% for item in apps %}
                        <li><a href="{{ item.appstore }}">{{ item.title }}</a>, {{ item.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="mt-4 mb-5">
                {# certifications #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2">Certifications</h2>
                    <ul>
                        {% for item in certifications %}
                        <li><a href="{{ item.link }}">{{ item.title }}</a>, {{ item.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="mt-4 mb-5">
                {# education #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2">Education</h2>
                    <ul>
                        {% for item in educations %}
                        <li>{{ item.title }}, {{ item.school }}, {{ item.year }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="mt-4 mb-5">
                {# references #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2">References</h2>
                    <ul>
                        {% for item in references %}
                        <li><a href="">{{ item.title }}</a>, {{ item.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="mt-4 mb-5">
                {# experience #}
                <div class="col-10 col-lg-8">
                    <h2 class="h2">Experience</h2>
                    {% for item in experiences %}
                    <div class="col-12">
                        <h3 id="{{ item.company | slugify }}" class="h6 mt-5 mb-0">{{ item.role }}</h2>
                        <p class="mb-0">
                            {% if item.link %}
                            <a href="{{ item.link }}">{{ item.company }}</a>
                            {% else %}
                            {{ item.company }} <span class="fst-italic">(now defunct)</span>
                            {% endif %}
                        </p>
                        <ul aria-labelledby="{{ item.company | slugify }}">
                            {% for listItem in item.listItems %}
                            <li>{{ task }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
