---
title          : Talks
layout         : base
excerpt        : Isral Duke has presented topics about design, design systems, and accessibility.
featureSm      : /images/photos/isral-talk-google-devfest-crop-tall.jpg
feature        : /images/photos/isral-talk-google-devfest.jpg
featureAlt     : Isral Duke giving a presentation about VoiceOver at a local chapter of Google Dev Fest.
---

<h1 class="" id="pageName">{{ title }}</h1>
<p class="">{{ excerpt }}</p>


{% for item in talks %}
<h2 class="">{{ item.title }}</h2>
<p class="">{{ item.description }}</p>
<a href="{{ item.deck }}" class="">Get deck for {{ item.title }}</a>
<iframe src='https://www.youtube.com/embed/{{ item.embed }}' frameborder='0' title="{{ item.data.title }}" allowfullscreen></iframe>		
{% endfor %}
